.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: fit-content;
    border: 8px black solid;
    width: 600px;
}

.display {
    font-size: 32px;
    margin: 8px;
    text-align: end;
    height: 50px;
    /* inline-size: 800px;
    overflow-wrap: break-word; */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

button {
    padding: 15px;
    font-size: 32px;
}

.opBtn {
    background-color: gray;
}

.evalBtn {
    background-color: blue;
    color: white;
}